.pokemon-list__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.pokemon-list__wrapper th {
  text-align: left;
}

.table-cell__pokemon-name {
  width: 130px;
}

.table-cell__pokemon-url {
  width: 350px;
}

.pokemon-list__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon-list__search label {
  margin-right: 8px;
}
