.pokemon-detail__wrapper {
  padding: 60px;
  display: flex;
  gap: 50px;
}

.pokemon-detail__name {
  width: 300px;
}

.pokemon-detail__delete-move-button {
  display: flex;
  align-items: center;
  gap: 12px;
}
